* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  background-image: var(--bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#container {
  width: 100%;
  height: 720px;
  max-width: 560px;
  margin: auto;
  padding-top: 56px;
  padding-left: 24px;
  padding-right: 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 24px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.4s;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24pxd;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  text-decoration: none;

  transition: background 0.5s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

#socialMedia a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: background 0.2s;
  border-radius: 50%;
}

#socialMedia ion-icon {
  font-size: 24px;
}

#socialMedia a:hover {
  background-color: var(--highlight-color);
}

#socialMedia ion-icon:hover {
  color: black;
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}

footer a {
  text-decoration: none;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
    --switch-bg-url: url(./assets/Sun.svg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  to {
    left: 50%;
  }
  from {
    left: 0%;
  }
}
